# NET "Clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
# NET "Clk" PERIOD = 20.0ns HIGH 60%;

NET "Clk_1MHz" LOC = "B8"    | IOSTANDARD = LVCMOS33 ;
NET "Clk_1MHz" PERIOD = 1000.0ns HIGH 50%;

NET "Clk_rotary_press" LOC = "E10" | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "Clk_out"  LOC = "D10"   | DRIVE = 8 | IOSTANDARD = LVCMOS33;
NET "Clk_in" LOC = "D9"      | IOSTANDARD = LVCMOS33;

NET "rotary_a"     LOC = "K18" | IOSTANDARD = LVTTL | PULLUP;
NET "rotary_b"     LOC = "G18" | IOSTANDARD = LVTTL | PULLUP;
NET "rotary_press" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN;

NET "MF" LOC = "A8"  		  | IOSTANDARD = LVCMOS33;
NET "F_IN"    LOC = "G9"     | IOSTANDARD = LVCMOS33;
NET "A_IN" LOC = "D12"       | IOSTANDARD = LVCMOS33; # nur Input
NET "M_IN" LOC = "C12"    	  | IOSTANDARD = LVCMOS33; # nur Input
NET "MB" LOC = "A15"    	  | IOSTANDARD = LVCMOS33; # nur Input
# NET "Input" LOC = "B15"    | IOSTANDARD = LVCMOS33; # nur Input
# NET "NC"    LOC = "C3"     | IOSTANDARD = LVCMOS33;
NET "BA" LOC = "C15"    	  | IOSTANDARD = LVCMOS33; # nur Input;

NET "S<3>" LOC = "N17"  	  | IOSTANDARD = LVCMOS33; # Input DigiBoard
NET "S<2>" LOC = "H18" 	     | IOSTANDARD = LVCMOS33; # Input DigiBoard
NET "S<1>" LOC = "L14"  	  | IOSTANDARD = LVCMOS33; # Input DigiBoard
NET "S<0>" LOC = "L13"  	  | IOSTANDARD = LVCMOS33; # Input DigiBoard

NET "ROM<3>" LOC = "B4"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "ROM<2>" LOC = "A4"      | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "ROM<1>" LOC = "D5"      | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "ROM<0>" LOC = "C5"      | DRIVE = 2 | IOSTANDARD = LVCMOS33;
# NET "A<3>" LOC = "A6"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
# NET "A<2>" LOC = "B6"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
# NET "A<1>" LOC = "E7"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
# NET "A<0>" LOC = "F7" 	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;

NET "F<3>" LOC = "D7"  	  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "F<2>" LOC = "C7"        | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "F<1>" LOC = "F8"        | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "F<0>" LOC = "E8"        | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "DAT<3>" LOC = "A13"     | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "DAT<2>" LOC = "B13"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "DAT<1>" LOC = "A14"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "DAT<0>" LOC = "B14"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;

NET "A<3>" LOC = "F9"  		  | DRIVE = 2 | IOSTANDARD = LVCMOS33; # LD7
NET "A<2>" LOC = "E9"  		  | DRIVE = 2 | IOSTANDARD = LVCMOS33; # LD6
NET "A<1>" LOC = "D11" 		  | DRIVE = 2 | IOSTANDARD = LVCMOS33; # LD5
NET "A<0>" LOC = "C11" 		  | DRIVE = 2 | IOSTANDARD = LVCMOS33; # LD4
# NET "B<3>" LOC = "F11" 	  | DRIVE = 2 | IOSTANDARD = LVCMOS33; # LD3
# NET "B<2>" LOC = "E11" 	  | DRIVE = 2 | IOSTANDARD = LVCMOS33; # LD2
# NET "B<1>" LOC = "E12" 	  | DRIVE = 2 | IOSTANDARD = LVCMOS33; # LD1
# NET "B<0>" LOC = "F12" 	  | DRIVE = 2 | IOSTANDARD = LVCMOS33; # LD0

NET "B<3>" LOC = "C14"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "B<2>" LOC = "D14"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "B<1>" LOC = "A16"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "B<0>" LOC = "B16"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "RAM<3>" LOC = "E13"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "RAM<2>" LOC = "C4"   	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "RAM<1>" LOC = "B11"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "RAM<0>" LOC = "A11"  	  | DRIVE = 2 | IOSTANDARD = LVCMOS33;

# NET "BTN North" LOC = "V4"      | IOSTANDARD = LVCMOS33; # Input DigiBoard
NET "RES_BTN_West"  LOC = "D18"   | IOSTANDARD = LVCMOS33; # Input DigiBoard
# NET "BTN East"  LOC = "H13"     | IOSTANDARD = LVCMOS33; # Input DigiBoard
# NET "BTN South" LOC = "K17"     | IOSTANDARD = LVCMOS33; # Input DigiBoard

